footer {
  background-color: white;
  color:rgb(160, 2, 160);
  min-height: 50px;
  min-width:100%;
  border-top: 1pt solid rgb(160, 2, 160);
}

a {
  color: navy;
  font-weight: 400;   
}

a .navbar{
  font-weight: 300;
  position: relative;   
}
.fas,.fab {
  font-size: 1.5rem;
  color:black;
  margin-left: 0px;

}

.copywright_det {
  line-height: normal;
  vertical-align: middle;
  font-size:0.75rem;
}
i.far.fa-copyright {
  font-size:0.75rem;
  
}