.footerNavbar {
  background-color: white;
  color:grey;
  min-width:100%;
  border-top: 1pt solid lightgray;
  margin-left: -15px;
  margin-right: -15px;

}


.copywright_det {
  line-height: 0.8rem;
  vertical-align: middle;
  font-size:0.75rem;
}