.itemLogo{
    max-height:60px;
    width:auto;
    padding-top: 10px;
    
}

.noTopMargin{
    margin-top:0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left:0px;
    margin-left: 0px;
    margin-right:0px;
    justify-content: space-between ;

}

.justify-content-left {
    align-self: left;
}

.justify-content-right {
    align-self: right;
    margin-top:0px;
    padding-top: 0px;
    padding-right: 0px;
    margin-right:0px;
    justify-content: flex-end;
}
.itemTag{
    font-size: 0.8rem;
    color: black;
    border:none;
    margin-left: 10px;
    margin-right: 10px;

}
.list-group-horizontal {
    margin-left: 0px;
    padding-left: 0px;
}
.itemTag.list-group-item{
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: disc;
}

.taglistgroup{
    margin-top:0px;
    margin-left:5px;
    padding-left:0px;
    margin-bottom: 5px;
    list-style-type:disc;
}
.body-contents.col>div.list-group {
    
}
.itemTitle{
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 10px;
    color: navy;

}
.itemSubtitle{
    font-size: 1rem;
    margin-bottom: 3px;
    font-weight:normal;
    color: navy;

}
.itemContentText.card-text {
    font-size: 0.9rem;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}
p.tagPrefix{
    font-size: 0.9rem;
    margin-left: 10px;
    margin-right: 10px;
}

.itemUrl{
    font-size: 0.9rem;
    word-wrap: normal;
}

.itemLink{
    margin-left: 10px;
    margin-right: 10px;
}

.itemType{
    font-size: 0.9rem;
    color: rgb(160, 2, 160);
    word-wrap: normal;
    font-family: 'Love Ya Like A Sister', cursive;
    margin-top: 10px;
    margin-left: 3px;
    
}
.contentCards.card{
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    border-radius: 0;
    
}
.card-img{
    justify-self: left;
}
.card-body {
    padding: 5px;
    margin-left: 0rem;
}
.btnLDrow{
    
}
.contentCards.card >div.noTopMargin.card-header {
    border-radius: 0px;
    

}
.contentCardsBody{
    
}

