html,body,p {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt; 
    
    width: 100%;
}


.taglist{
    padding-left: 0px;
    
}
.taglist,.results {
    padding-top: 5px;
}

.results {
    width:100%;
}

.AdCarousel {
    min-height: 150px;
}