
.input-group-text{
    padding:0 0.25rem;
    margin: 0px;
    font-size: 0.8rem;
    line-height: 0.9rem;
    background-color: white;
    border-width: 0px ;
}

.dropdown-menu.show{
    background-color: white;
    color:rgb(160,2,160)
}

.form-check-label {
    color:black;
    font-size:0.8rem ;
    margin: 2px;
}
li.dropdown-item {
    margin-left: 3px;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-right: 10px;
}
ul.show.dropdown {
    margin-bottom: 10px;
}
.list-group-horizontal {
    justify-content: space-around;
}
.form-check-input{
    box-shadow: 3px 3px 3px rgb(160,180,200);
    
}
.filterListBtns{
    box-shadow: 3px 3px 3px rgb(160,180,200);
    border-bottom: #92a4b4 1pt solid;
    border-right: #92a4b4 1pt solid;
    border-radius: 3px;
}   
