 
.list-group-item, 
.taglist{
    padding:0.25rem;
    margin: 0px;
    font-size: 1rem;
}
.tagbtn {
    padding:0px;
    
}


Button#bg-nested-dropdown-Topic,
Button#bg-nested-dropdown-Type{
    padding: 10px;
    margin: 0px;
    font-size: 1rem;
    font-family: 'Love Ya Like A Sister', cursive;
    background-color: navy;
   
    
      
    box-shadow: 10px 20px 30px lightgrey;

}
.list-group,.list-group.list-group-horizontal{
    padding-left: 15px;
    padding-right: 15px;
    
}

.dropdown-toggle {
    width:90%;
    height: auto;   
    
}

ul.dropdown {
    margin-left: 15px;
    margin-right: 15px;
    padding:0;
}
.taglist.container {
    margin-top: 0px;
}

.filterListBtns {
    background-color: lightgrey;
    border-color:lightgrey;
    min-width: 100px;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 0.8rem;
    margin: 3px;
    border-radius: 3px;
      

}
.filterListBtns:hover,.filterListBtns:checked {
    background-color: navy;
}

div.tagCheckBox.form-check:hover,
li.taglistElement.dropdown-item:hover,
div.tagCheckBox.form-check:focus,
li.taglistElement.dropdown-item:focus{
    
    width:100%;
}