.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

.navbar, .navbar-dark {
    background: rgb(160, 2, 160);
    background-color:white;
    min-width:100%;
    border-bottom: 1pt solid rgb(160, 2, 160);
}

h1.navbar-bbw {
    color:rgb(160, 2, 160);
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 2rem;
    font-weight:normal;
    text-shadow: 0px 0px 30px pink
}

li.nav-item {

}

.bbw_navlink, a.nav-link{
    font-size: 1rem;
    color:rgb(160, 2, 160);
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 1.1rem;
    padding-top:5px;
    padding-bottom: 5px;
    font-family: 'Love Ya Like A Sister', cursive;
}

.bbw_navlink{
    margin-bottom: 5px;
}

.bbw_navlink:active{
    color:rgb(160, 2, 160);
    font-weight:bold;
    
}

li.nav-item.hover,
.bbw_navlink:hover,
a.nav-link:hover,
.bbw_navlink:active,
a.nav-link:active,
.bbw_navlink:focus,
a.nav-link:focus

{
    color:rgb(160, 2, 160);
    font-weight:bold;
   
    text-shadow: 0px 0px 20px 3px rgb(255, 232, 235);;
    
}