.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

.navbar, .navbar-dark {
    background-color: rgb(202, 3, 202);
    color:white;
}

h1.navbar-bbw {
    color:white;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 2rem;
}
a.nav-link>p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Love Ya Like A Sister', cursive;
}

a.nav-link:active>p {
    color: rgba(255, 255, 255, 1);
    font-weight:semi-bold;
    
}