.landingjumbo{
    margin-left: 0px;
    min-width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    
    background-color: transparent;
}
.landingPage{
    background-size: cover;
    image-rendering: optimizeSpeed;
}
/* 
.landing-header-block{
    margin-top: 5%;
    margin-bottom: 5%;
    padding:0px;
    text-align:center;
    image-rendering: optimizeSpeed;
    height: 100%;
   
} */

 .jumbotron>h1{
    font-family:'Love Ya Like A Sister', cursive;
    font-size: 3rem;
    text-align: center;
    color:white;
    width:auto;
    background-color: navy;
    
    line-height: 3rem;
    padding-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    text-shadow: 2px 2px 2px grey;
    
} 

blockquote{
    width:100%;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    font-family:'Love Ya Like A Sister', cursive;
    background-color: navy;
    margin-top: 0px;
    padding-bottom: 30px;
    

}