.fontAwesomeIcons{
    color:navy;
    margin-right: 3pt;
    padding:0pt;
    font-size: 0.8rem;
    z-index: -45;
    
}
 .btn-group {
    margin:0;
    padding: 0;
    max-width: 150px;;
    align-self: flex-end;
   

}
div.btnLDrow.row{
    margin: 0px;
    padding: 0px;
    
    border:rgb(160,2,160);
}

button.btn.btn.btn-link{
    width: 100%;
    margin-bottom: 0;
    padding-bottom:0;
   
}

.ldbuttons {
    z-index: 200;
    background: transparent
}

.badge {
    margin: 5px;
    padding: 5px;
    background-attachment: navy;
    color: rgb(160,2,160);
    border:rgb(160,2,160);
    z-index: -50;
}