.hdngtext{
    font-family: 'Love Ya Like A Sister', cursive;
    color: navy;
    text-shadow: 3px 3px 3px rgb(160,180,200);
}
.modal{
    position: fixed;
    right:0;
    margin: auto;
    width: 500px;
    min-height: 100%;
    padding:0! important;

}
/* 

 */